<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta name="description" content="">
    <!-- <meta name="author" content=""> -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Mentor your Career</title>

    <!-- Bootstrap core CSS -->
    <link href="<{$root}>/template/lib/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="<{$root}>/template/css/new.css" rel="stylesheet">
    <link href="<{$root}>/template/css/info/about_us.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="<{$root}>/template/lib/dist/js/main.js"></script>
    <script src="<{$root}>/template/lib/dist/js/modernizr.js"></script> <!-- Modernizr -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <!-- <link href="css/carousel.css" rel="stylesheet"> -->
    <!-- <link href="css/evisor.css" rel="stylesheet"> -->
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <{include file='../menu_header.html'}>
  
  <div class="container main-shift">
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About US 关于我们</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                              <!--need change the image-->
                                <img class="img-circle img-responsive" src="<{$root}>/template/image/info/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">我们是一群在药厂工作的年轻人，来自Abbvie, Amgen, Biogen, BMS, Merck等公司。</br>
                                      我们深知找工作过程中的种种挫折艰辛以及求职者对获得招聘信息和全方位指导的渴望，</br>
                                      希望能尽我们最大的力量帮助更多同胞找到生物医药公司理想的职位，扩大华人群体在行业的影响力。</br>
                                      如果你的背景合适，我们可以在相关职位提供帮助。同时欢迎目前在各个医药公司的工作并愿意帮助大家的朋友联系加入我们。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="<{$root}>/template/image/info/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <p class="text-muted">初出校园，或许你还无法适应竞争激烈的求职市场，不知如何展现自己的优势和能力，如何从锋芒毕露的各路高手里脱颖而出，自信、乐观在一封封的据信里一点点的耗尽；
                                        </br>也许你还在看不到希望的工作里苦敖，不想安于现状，虚度人生，但有限且单一的交际圈却遏制了你发掘潜力、挑战自我的可能，罩住了那颗想要冲破桎梏的心。
                                        </br>你痛苦过的，你正在经历的，你的迷茫，我们也曾一一品尝过，最浓重的黑暗是看不到希望的日子，最深的孤独，是无人理解。
                                        </br>所以，我们careerpilot的导师们，在工作繁忙却抽出业余时间的mentors，愿意拿出我们所有的热情和真诚，帮助在路上的不放弃不妥协的你，直到你成为那个更好的自己！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Join Us</br>
                                </br>加入我们
                                    </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>加入我们</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">无论你是生物，化学，医药还是计算机背景，</br>只要你有好的想法，请加入我们！</br>
                                      给我们发一份简历,我们会在一周之内联系你</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Contact Us</br>
                                </br>联系我们
                                    </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>我们的邮箱是:</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">wkcoke.work@gmail.comn</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Team!</h4>
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h3></h3>
                              </div>
                              <div class="timeline-body">
                                      <p class="text-muted">无论您处在什么行业，无论您有何种背景，只要您愿意分享您的求职经验，愿意帮助还在奋斗着的求职者们，Career Pilot真诚邀请您加入我们的导师团队，您的指导，或许可以改变一个人的人生。</p>
                              </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  </div><!-- /.container -->
  
  <!-- FOOTER -->
      <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#">Terms</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; OfferLadder Company, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <a href="#0" class="cd-top">Top</a>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="<{$root}>/template/dist/js/bootstrap.min.js"></script>
    <!-- <script src="../../assets/js/docs.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
